{% extends 'base.html' %}
{% block body %}
<h1>SOME CODES HERE</h1>
<style>
    #s1
    { float: right;
      margin: 60px;
      height: 100%;
      }
</style>
<h2>This line added later</h2>
<div id="s1"><h3>Have an account.!</h3><a href="/account/login/"><p style="color:red; font-size: 20px">Sign In</p></a></div>
<div class="container">
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}